KKS_VERSION = 0.13.4
KKS_MAJOR_VERSION = 0
KKS_MINOR_VERSION = 13
KKS_PATCH_VERSION = 4
#KKS_PATCH1_VERSION = 1

PRODUCT_NAME = DynamicDocs Client
ORGANIZATION = DynamicSoft
EXECUTABLE_PREFIX = ddocclient

#installation params
KKS_PREFIX = /opt/$$EXECUTABLE_PREFIX-$$KKS_VERSION
KKS_DATA_DIR = $$KKS_PREFIX/data

#external libraries paths
EXT = /usr
EXTERNAL_PREFIX = $$EXT
PSQL_HOME = $$EXTERNAL_PREFIX
PSQL_INCLUDE_DIR = $$EXTERNAL_PREFIX/include/pgsql
PSQL_LIB_DIR = $$EXTERNAL_PREFIX/lib

#additional installation params
KKS_EXEC_DIR = $$KKS_PREFIX/bin
KKS_BIN_DIR = $$KKS_PREFIX/bin
KKS_LIB_DIR = $$KKS_PREFIX/lib
KKS_INCLUDE_DIR = $$KKS_PREFIX/include
KKS_PLUGIN_DIR = $$KKS_PREFIX/lib/plugins
KKS_DOC_DIR = $$KKS_PREFIX/share/doc
KKS_TRANSL_DIR = $$KKS_PREFIX/bin

#set it to 1 if target platform use big endian (RISC)
#default is litle endian (Intel, VAX)
USE_BIGENDIAN = 0

include(ddocclient_ext.conf)

DEFINES *= _CRT_NONSTDC_NO_DEPRECATE
DEFINES *= _CRT_SECURE_NO_WARNINGS
