/* FOOTER */
#footerTable{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color:#E6E6E6;
  border:0px solid #E6E6E6;
  position:static;
  z-index:100;
}
#footerTable td {
  color: #1E1E1E;
  border-top:1px solid #E6E6E6;
  border-bottom:1px solid #E6E6E6;
  background-color:#FFFFFF;
  padding: 3px 10px;
}

